<article>
  <h1 class="text-3xl my-8 text-center">うたいぴんぐ♫</h1>
  <section>
    <p class="text-center text-xl my-8">歌に合わせてタイピングしよう！</p>
  </section>
  <article class="px-4 w-[1000px] max-w-full grid md:grid-cols-4 gap-3 m-auto">
    <%= render partial: 'play/song', collection: @songs %>
  </article>
</article>